modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/peywend: web"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/peywend: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=23002 BASE_PATH=/ pnpm --filter @workspace/peywend run dev"
waitForPort = 23002

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
